<div id="develop">
	<div id="block">
		<div class="develop_cont_blog" >dddddddddd</div>
	</div>
	<div id="caculator">
		<div class="">

		</div>
	</div>
	<div id="erp">
gggggggggggggggggggggggggaaaagggggggggg11111
	</div>
	<div id="map">

	</div>
</div>
<style>
#develop {  
	width:100%;
	height:100%;
    background-color:#000;
    border:1px solid #fff;
}

#block {
	width:100%;
	height:250px;
	border:1px solid #f26c5e;
	margin-top:50px;
	
}

.develop_cont_blog {
	border:1px solid #fff;
	margin:30px 60px;
	padding:30px 30px 30px 30px;
	
}

</style>