<div class="jumbotron">
  <h1>This will be userd as a Main space for pic2</h1>
  <p class="lead">
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    Test version for github
  </p>
  <!--
  https://www.w3schools.com/bootstrap/bootstrap_buttons.asp 버튼 옵션 참고
  -->
  <p><a class="btn btn-sd btn-info" ng-href="#/">button-2<span class="glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
