<div id="proDevBlog">
	<div calss="container">
		<div class="common_title"><h1>TITLE LINE HERE</h1></div>
		<section class="content col-xs-10 col-xs-offset-1">
			<p>현재는 일반  P 태그 추후 앵귤러 directive를 이용해 라인을 만들것현재는 일반   만들것현재는 일반
			  P 태그 추후 앵귤러 directive를 이용해 라인을 만들것현재는 일반  P 태그 추후 앵귤러 directive를 
			  이용해 라인을 만들것현재는 일반  P 태그 추후 앵귤러 directive를 이용해 라인을 만들것현재는 일반  
			  P 태그 추후 앵귤러 directive를 이용해 라인을 만들것현재는 일반  P 태그 추후 앵귤러 directive를 
			  이용해 라인을 만들것현재는 일반   만들것현재는 일반
			  P 태그 추후 앵귤러 directive를 이용해 라인을 만들것현재는 일반  P 태그 추후 앵귤러 directive를 
			  이용해 라인을 만들것현재는 일반  P 태그 추후 앵귤러 directive를 이용해 라인을 만들것현재는 일반  
			  P 태그 추후 앵귤러 directive를 이용해 라인을 만들것</p>
		</section>
		<div hello name="angularJS"></div>
	</div>
</div>
<style>
#proDevBlog {background-color: #fff}
#proDevBlog .container {background-color: #fff;z-index:8000;}
.common_title {width:100%;margin:50px 0px;}
.common_title h1 {text-align:center;margin:0px;}
#proDevBlog .content {word-break: break-all;margin-right:8.3333%;}
#proDevBlog .content p {font-size:20px;line-height:30px;}
</style>

<script>

$(window).ready(function () {

});

/* ===== test ===== */
function parseNum(num) {
	//if (instanceof num)) throw new Error("Expecting a string");
	console.log(typeof num === "string");

	if(typeof num !== "string") {console.log("Expecting a string");return false;}
	var a;
	
	a = parseInt(num, 10);
	console.log(typeof a);

	if (typeof a !== "number"){
	//	console.log(["Could not parse num", num].join(' '));
	}

	return a;
}

function fail(thing){
	console.log("Error massage " + thing );
}

console.log(parseNum(10));
console.log(parseNum("20"));
console.log(parseNum("aaa"));

</script>